chromadb
audio-recorder-streamlit
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
numpy
openai
pandas
pybase64
python-dotenv
regex
sentence-transformers
streamlit
transformers
