chromadb==0.4.22
audio-recorder-streamlit==0.0.10
langchain==0.3.27
langchain-chroma==0.2.6
langchain-community==0.3.29
langchain-core==0.3.76
langchain-huggingface==0.3.1
langchain-openai==0.3.33
numpy==2.3.3
openai==1.107.1
pandas==2.3.2
pybase64==1.4.2
python-dotenv==1.1.1
regex==2025.9.1
sentence-transformers==5.1.0
streamlit==1.49.1
transformers==4.56.1
